@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
   padding-left: 135px;
   padding-right: 135px;
}
#log{
   width: auto;
  height: 40px;
  margin-right: 10px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color:#FFFBF0 ;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  font-family: "Montserrat", serif;
     /* width: 100vw;  */
    /* box-sizing: border-box; */
  
}
.brandIdentity{
  display: flex;
  align-items: center;
}
.brandIdentity h3 {
  font-size: 26px;
  font-weight: 700;
  color: #A4BC46;
}
.fcolor{
  color: #363958;
}
body{
     margin: 0; 
   
}
.barstyle{
 font-size: 25px;   
}
main{
    /* margin-top: 100px; */
    background-color:#FFFBF0 ; 
  
}
.rightNav a{
   text-decoration: none;
   color: #3C3C3C; 
  margin-left: 30px;
   font-size: 16px;
   font-family: "Poppins", serif;
   font-weight: 600;
}
.iconstyle{
  color: rgb(255, 196, 0);
  font-size: 40px;  
}
#bar{
  display:none;  
}

                             /* banner part style */
.banner{
   background-color: #b97f1b0e;
   display: flex; 
   align-items: center;

}
.halfwidth{
width: 50%;
}

.MainTitle { 
    font-family: "Bebas Neue", serif;
    color: #fabe4c;
    font-size: 40px;
   line-height:50px;
 } 
#Mtitle{
 color:#363958;   
}
#bannerDes{
   margin-top:-40px;  
  font-size:20px; 
  font-family: "Roboto", serif;
}
.btn{
    background-image: linear-gradient(#a4bc46, #85A019);
     padding: 5px 10px; 
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
}
.rightDiv{
  display: flex; 
  justify-content: end; 
}
.main{
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  /* background-color:#FFFBF0 ; */
}
/* Woman jacket style started here */
.cmnHead{
  text-transform: uppercase;
  font-family: "Bebas Neue", serif;
  color: #363958;
  font-size: 48px;
   margin-top:80px; 
 
}
.cardHead{
  color: #363958;
  font-size: 24px;
}
.cardDes{
  color: #3E3E3E;
  font-size: 16px;
 margin-bottom:15px;
  margin-top:-10px;
}
.price{
  font-weight: 900;
  font-size: 36px;
 color:  #FABE4C;
 margin-top: 0;
 margin-bottom: 0;

}
.pricingParent{
  display: flex;
  justify-content: space-between;
}
.cardParent{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 30px; 
}
.card{
  /* height: 480px; */ 
  width: 270px;
  border-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.246);
  padding: 18px;
  font-family: "Roboto", serif;
  margin: 10px;
}
.cardImg{
  width:250px;
 background-color: #F1F1F1;
 border-radius: 10px;
 padding:10px;
}

.cardImg img{
  width: 100%;
  height: auto;
}
@media screen  and (max-width:1024px) {
 #imgs{
   height: auto; 
   width: 100%;
 }
 .MainTitle{
    font-size:30px;
 } 
 .container {
  padding-left: 50px;
  padding-right: 50px;
} 
.cardParent{
  grid-template-columns: auto auto;
} 
.cmnHead{
  text-align: center;
}
}
@media screen  and (max-width:834px) {
    .banner{
      flex-direction: column;  
    }
    .halfwidth{
        width: 50%;
        }
        .halfwidth{
            width:100%;
            }
            .rightDiv{
             justify-content: center;
             height: 100%; 
             width: auto;
            } 
            .rightNav a{
              margin-left: 20px;
            }  
}
@media screen  and (max-width:768px) {
    .rightNav{
        display:none ;
      
    }
    #bar{ 
        display: block;  
        }
        .cardParent{
         grid-template-columns: auto;
        }    
}
@media screen  and (max-width:480px) {
    .container{
       padding: 0 10px; 
    }  
}